<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{{title}}</title>
		<link rel="stylesheet" href="/css/styles.css" />
	</head>
	<body>
		<header class="header">
			<ul class="header__links">
				<li class="header__link">
					<a href="/" class="header__a">Home</a>
				</li>
				<li class="header__link">
					<a href="/dashboard" class="header__a">Dashboard</a>
				</li>
				{{#if isGuest}}
					<li class="header__link">
						<a href="/login" class="header__a">Login</a>
					</li>
				{{/if}}

				{{#unless isGuest}}
					<li class="header__link">
						<form action="/api/logout" method="POST">
							<button type="submit" class="header__a header__logoutButton">Logout</button>
						</form>
					</li>
				{{/unless}}
			</ul>
			<h1 class="header__title">{{title}}</h1>
		</header>
		{{{body}}}
		<script src="/js/script.js"></script>
	</body>
</html>