<div class="formContainer">
	<p class="formContainer__title">Sign Up</p>
	<form action="/api/signup" method="POST" class="form">
		<label class="form__label">
			Username
			<input name="username" type="text" class="form__input" />
		</label>
		<label class="form__label">
			Password
			<input name="password" type="password" class="form__input" />
		</label>
		<button class="form__submit">Sign Up!</button>
		<a href="/login" class="form__signup">Login instead</a>
	</form>
</div>